.BasicAndLastInput
  .TopHalf
    .PatientDetails
      text-align: center
      border-bottom: 0.2rem solid $GrayLight
      width: 90%
      margin-left: 2rem
      padding-bottom: 2rem
      .Headers
        color: $GrayLight
        p
          display: inline-block
          width: 25%
      .Info
        p
          display: inline-block
          width: 25%
        .status
          padding: 0 10%
          display: inline-block
          vertical-align: middle
          width: 25%

  .NoEntries
    text-align: center

  .BottomHalf
    padding-top: 3%
    .TopBarBottom
      width: 100%
      display: inline-block
      .RecentInput,.InputDate
        font-size: 2.5rem
      .RecentInput
        float: left
        margin-left: 2rem
      .InputDate
        float: right
        margin-right: 2rem
    .RecentInfo
      display: inline-block
      padding-left: 2rem
      width: 100%
      .LeftSide
        width: 50%
        float: left
        div
          width: 50%
          display: inline-block
        p
          padding: 20% 0
      .RightSide
        width: 50%
        float: right
        div
          width: 50%
          display: inline-block
        p
          padding: 20% 0
    .Checklist
      text-align: center
      padding-top: 5%
      padding-bottom: 5%
      border-bottom: 0.2rem solid $GrayLight
      width: 90%
      margin-left: 2rem
      margin-bottom: 5%
    .PatientDetailButton
      text-align: center
      button
        background-color: $GreenLight
        color: $White
        font-size: 3rem
        padding: 1.5rem
        border-style: none
