.CreateAccount
  h6
    margin-top: 4rem
    color: $PurpleDark
  .input-error
    background: rgba($Red, .1)
    border-bottom: 2px solid $Red

.CreateAccount-HealthInfo
  h6
    color: $PurpleDark
  .small-input
    width: 50%
    display: inline-block
  .input-error
    background: rgba($Red, .1)
    border-bottom: 2px solid $Red
  span
    display: inline-block
    padding-left: 1rem
    color: $GreenLight

