.DayDetail
  div
    padding: 1rem 0
  p
    display: inline-block
    padding-right: 1rem
    color: $GrayLight
  span
    display: inline-block
  .BackBtn
    color: $Black
  .Date
    float: right
    color: $Black
