.Inbox
  textarea
    margin-top: 4rem
    width: 100% 
    border: 1px solid $GrayLight
    color: $PurpleDark
    padding: .5rem
    font-size: 1.6rem

.Messages-individual
  max-height: 200px
  overflow-y: scroll
  .Message, .Message--User, 
  .Message--Patient, .Message--Other
    display: inline-block
    width: 100%
    p
      color: $White
      width: 50%
      padding: 5px

  .Message--User
    p
      float: right
      text-align: right
      background-color: $PurpleDark
      color: $White
  .Message--Patient
    p
      float: left
      text-align: left
      background-color: $GreenDark
  .Message--Other
    p
      text-align: right
      background-color: $GreenLight

