.Navbar
  background: linear-gradient(44deg, $GreenLight 0%, $GreenDark 54%)
  box-shadow: 0px 0px 16px 0px $Black
  color: $White
  height: 5rem
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 100

.Navbar-logo
  margin: .5% 2%
  position: absolute
  top: 50%
  width: 100%
  transform: translateY(-50%)
  h6
    display: inline-block
    position: absolute
    transform: translateY(20%) translateX(10%)

.Navbar-navigation
  position: absolute
  right: 1.5rem
  top: 50%
  transform: translateY(-40%)

.HamburgerInactive
  cursor: pointer
  height: 25px
  position: relative
  width: 25px
  &:before
    content: ''
    height: 2.25rem
    position: absolute
    border-top: 1.25rem double $White
    width: 3.25rem
    border-radius: 5%
    right: 1px
  &:after
    content: ''
    height: 2rem
    position: absolute
    border-bottom: .45rem solid $White
    width: 3.25rem
    border-radius: 5%
    right: 1px

.HamburgerActive
  cursor: pointer
  height: 25px
  position: relative
  width: 25px
  &:before
    background-color: $White
    content: ''
    height: 3px
    right: 25%
    position: absolute
    transform: rotate(45deg) translateX(49%)
    width: 30px
  &:after
    background-color: $White
    content: ''
    height: 3px
    left: 35%
    position: absolute
    transform: rotate(-45deg) translateX(-49%)
    width: 30px
