.PatientList
  .TopRow
    margin-bottom: 4rem
  input[type="text"]
    background-color: transparent
    border: 1px solid $PurpleDark
    color: $White
    margin: 0
    padding: 1rem
    width: 45%
    display: inline-block
