.PatientList
  background-color: $White
  .TopRow
    padding-top: 6rem
  input[type="text"]
    border: 1px solid $PurpleDark
    padding: 1rem
    width: 90%
    display: inline-block
  h4
    text-align: center
