.PatientSummary
  background-color: transparent
  margin-top: 20%
  .BackButton
    position: relative
    text-align: left
    padding-left: 2rem
  .Mail
    text-align: right
    margin-left: 23rem
  .BackButton, .Mail
    display: inline-block
  h3
    padding-top: 3%
    text-align: center
