.PatientTable
  background-color: $White
  height: 100%
  width: 100%
  .SortingRow
    padding: 2%
    border-bottom: 0.2rem solid $GrayLight
    background-color: $White
    .NameSort
      display: inline-block
      width: 50%
      text-align: left
      padding-left: 2rem
    .StatusSort
      display: inline-block
      padding-right: 2rem
      width: 50%
      text-align: right
